@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .filter-button {
        @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out;
    }
}

html {
    scroll-behavior: smooth;
}

.mapboxgl-popup-content {
    @apply min-w-[250px] mb-6;
    padding: 0 !important;
    border-radius: 0.75rem !important;
}

.mapboxgl-popup-tip {
    display: none;
}
